.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-divider {
  width: 100%;
  margin-top: 20px;
  border: none;
  height: 2px;
  background-color: #d9d9d9;
}

.header-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #07b0fb;
  margin-top: 10px;
}
