.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-container button {
  background-color: #07b0fb;
  border: 0px transparent;
  color: #ffffff;
  border-radius: 100px;
  height: 48px;
  margin-top: 32px;
}

.button-divider {
  width: 100%;
  margin-top: 20px;
  border: none;
  height: 2px;
  background-color: #e5e5e5;
}
